  /* 
   Stylesheet for the Renegades/American School Exhibition Site //
  
   Table of Contents
   - - - - - - - - -
   General Styles
   Header Image
   Homepage
   Paragraph Bundle Style
   Parallax
   Color Block
   Buttons
   Navigation Bar
   Global Footer
   Social Media Icons
   Paragraph Styling
   - - - - - - - - -
 */
 
 
 /**
 * General Styles
 */

.container-fluid {
        padding-right: 15px;
        padding-left: 15px;
	margin-left: 0;
	margin-right: 0;
}

.col-md-12{
	padding: 0;
}

body {
	font-family: Franklin Gothic,ITC Franklin Gothic,Arial,sans-serif; 
	font-size: 1.5em;
	line-height: 1.25;
	padding-top: 155px;
}

body.toolbar{
        padding-top: 255px!important;
}

 @media (max-width: 768px) {
 body {
    /*padding-top: 190px;*/
  }

}

h1, h2, h3 {
	font-weight: bold;
}

h4, h5, h6{
	font-weight: bold;
}

a {
    color: #7fb6d2;
	font-weight: bold;
}

a:hover{
	color: #153f59;
}

.events-container{
	padding: 50px;
	background-color: #fff;
        border-top: 10px solid #841617;
	box-shadow: 2px 2px 4px #eaeaea;
	margin-bottom: 10px;
	margin-top: 40px;
	min-height: 300px;
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
}

.dropshadow-border{
	padding: 15px;
    	background-color: #fff;
   	border: 1px solid #c9c9c9;
    	box-shadow: 2px 2px 4px #eaeaea;
    	margin-bottom: 10px;
}

.center{
	text-align: center;
}

.img-center{
	margin: 0 auto;
}

.fixed-to-top{
	position: fixed; 
    top: 0;
    width: 100%;
	z-index: 1030;
}

.with-margin-five {
  margin-left: 5%;
  margin-right: 5%;
}

.lib_logo{
	background-color: white;
        height: 229px;
}

  @media (max-width: 1180px) {
    .lib-logo{
		border-bottom: 0px;
  }
  }

  @media (max-width: 768px) {
    .lib-logo img{
		width: 80%;
  }
  }

.lib-logo img{
  height: 100px;
  /*margin: 25px 0;*/
	padding: 5px 20px 5px 30px;
} 

td.image-frame img {
    border: 1px solid #cccccccc;
    padding: 5px;
    background-color: white;	
}

.image-frame {
	width: 250px;}

 /**
 * Homepage
 */
 
.homepage-quote{
	background-color: #fff;
	padding: 50px;
}

.intro-quote{
	font-size: 1.9em;
	font-family: 'Fjalla One', sans-serif;
	color: #383838;
	padding: 40px;
	margin-top: 50px;
	border: dashed #841617;
	border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;

}

  @media (max-width: 800px) {
    .intro-quote{
		font-size: 1.3em;
  }
  }  
  
.homepage_events{
	background-image: url('../img/wires.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #e3e3e3;
	padding: 50px;
}

 @media (max-width: 768px) {
  .img-hide {
    display: none;
  }

}

.event-title{
	letter-spacing: .05em;
	text-transform: uppercase;
}



/*Paragraph Bundle Style*/ 

.featured{
	border: 1px solid #cecece;
	padding: 5px;
	margin-bottom: 15px;
	box-shadow: 1px 1px 2px #e3e3e3;
	background: #fff;
}

.featured-section{
	border-bottom: 1px dashed #cecece;
	background-color: #fdfdfd;
	border-radius: 5px;
	padding: 15px 0 15px 0;
	margin-top: 15px;
	margin-bottom: 15px;
}



/**
 * Parallax
 */

.parallax-window {
	min-height: 90vh;
	background: none;
	position: relative;
	margin-top: -170px;
}

  @media (max-width: 1025px) {
    .parallax-window{
		display: none;
  }
  } 
  
  
  
 /**
 * Parallax Replacement (Mobile)
 */  
 

  @media (min-width: 1025px) {
    .header{
		display: none;
  }
  } 
  

  
  /**
 * Color Block
 */

.color-block {
    background: #153f59;
    color: #fff;
    padding: 65px;
    position: relative;
    z-index: 1;
    margin-top: 30px;
}

.color-block:after {
    background: inherit;
    bottom: 0;
    content: '';
    display: block;
    height: 40%;
    left: 0;
    position: absolute;
    right: 0;
    transform: skewY(-2.7deg);
    transform-origin: 100%;
    z-index: -1;
}



 /**
 * Buttons
 */

.btn-custom {
	background-color: #7fb6d2;
	border: 0;
	color: #fff;
	font-size: 1em;
	font-weight: bold;
	border-radius: 4px;
	padding: 10px;
}

.btn-custom:hover {
	background-color: #153f59;
	border: 0;
	color: #fff;
	-webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}


/*#section1 .fp-bg {*/
  /*background-image: url("https://intranet.libraries.ou.edu/docs/documents/quote6.2565.png");*/
  /*background-size: cover;*/
  /*background-position: center 80%;*/
  /*height: 100%;*/
/*}*/

 /*
 * Galleries
 */

.opacity img {
  opacity: .5;
}

.gallery-section {
  position:relative;
}

.gallery-section-item {
  position: absolute;
  bottom:7px;
  right:7px;
}

.gallery-section-item a{
  color:#ffffff;
  font-size:1.5em;
}

 .gallery-yellow {
   width: 900px;
   position: absolute;
   top: 20%;
   left: 17%;
   font-family: Arial;
   font-size: 1.6em;
   line-height: 43px;
 }

 .gallery-green {
   width: 900px;
   position: absolute;
   top: 20%;
   left: 17%;
   font-family: Arial;
   font-size: 1.6em;
   line-height: 43px;
 }

 .gallery-blue {
   width: 900px;
   position: absolute;
   top: 20%;
   left: 17%;
   font-family: Arial;
   font-size: 1.6em;
   line-height: 43px;
 }

.icon-lg-screen {
  float: right;
}

.horizontal-logo {
  margin-top: -500px !important;
}

/*
 * About Page
 */

article {
  width: 80%;
  margin: auto;
}

.page-header {
  display: none;
}

@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px) {

  .gallery-yellow, .gallery-blue, .gallery-green {
  font-size: .6em;
  width: 80%;
  top: 6%;
  left: 3%;
  line-height: 13px;
}

  .icon-lg-screen img {
    width: 65%;
    margin-top: 25%;
    margin-left: 30%;
  }

  .quote-text p{
    font-size: .5em;
    line-height: 13px;
    width: 95%;
  }}


/*
 * IPhone
 */
@media (max-width: 624px){
  .gallery-yellow, .gallery-blue, .gallery-green {
    font-size: .5em;
    width: 80%;
    top: 14%;
    left: 5%;
    line-height: 11px;
  }

  .icon-lg-screen img {
    width: 44%;
    margin-top: 50%;
    margin-left: 53%;
  }

  .quote-text p{
    font-size: .5em;
    line-height: 13px;
    /*width: 50%;*/
  }

  div.gallery-yellow p::first-letter, div.gallery-green p::first-letter, div.gallery-blue p::first-letter {
    font-size: 6em !important;
    line-height: 30px !important;
    padding-right: 3px !important;
    padding-top: 7px;
    margin-left: 3px;
  }
}

  /*
   * iPhone landscape
   */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    .quote-text {
      font-size: .7em !important;
    }
    .gallery-yellow, .gallery-blue, .gallery-green {
      font-size: .9em !important;
      width: 78%;
      left: 3%;
      line-height: 25px !important;
    }
    .gallery-blue, .gallery-green {
      top: 15% !important;
    }
    .gallery-yellow {
      top: 12% !important;
    }
  }

  /*
   * Google Pixel
   */

@media (min-width: 625px) and (max-width: 768px) {
  .gallery-yellow, .gallery-blue, .gallery-green {
    font-size: 1em;
    width: 78%;
    top: 6%;
    left: 3%;
    line-height: 25px;
  }
}

@media (min-width: 625px) and (max-width: 768px) and (orientation: landscape){
  .quote-text p{
    font-size: 1em;
    line-height: 25px;
    width: 80%;
  }
}

@media (min-width: 625px) and (max-width: 768px) and (orientation: portrait){
  .quote-text p{
    font-size: 5em !important;
    line-height: 25px;
    width: 80%;
  }
}

@media
  (device-width: 360px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 3)
  and (orientation: landscape) {
    .quote-text p{
      font-size: 5em !important;
    }
}

@media (min-width: 769px) and (max-width: 1000px) {
  .gallery-yellow, .gallery-blue, .gallery-green {
    font-size: 1em;
    width: 94%;
    top: 6%;
    left: 3%;
    line-height: 21px;
  }

  .quote-text p{
    font-size: 1em;
    line-height: 21px;
    /*width: 50%;*/
  }
}

@media (min-width: 1001px) and (max-width: 1350px) {
  .gallery-yellow, .gallery-blue, .gallery-green {
    font-size: 1.3em;
    width: 85%;
    top: 10%;
    left: 7%;
    line-height: 35px;
  }

  .quote-text p{
    font-size: 1.3em;
    line-height: 35px;
  }
}

div.gallery-yellow p::first-letter {
  /*font-size: 200%;*/
  color: #ffc527;
  font-family: "Times New Roman";
  float: left;
  font-size: 8em;
  line-height: 60px;
  padding-right: 6px;
  margin-top: -15px;
}

  .gallery-yellow-link {
    /*background-image: url(https://intranet.libraries.ou.edu/docs/documents/link-yellow.2567.png);*/
    /*background-repeat: no-repeat;*/
    /*background-position: right;*/
    position: absolute;
    height: 76px;
    width: 215px;
    /*padding-top: 2%;*/
    bottom: 7%;
    right: 5%;
  }

  .gallery-green-link {
    /*background-image: url(https://intranet.libraries.ou.edu/docs/documents/link-green.2568.png);*/
    /*background-repeat: no-repeat;*/
    /*background-position: right;*/
    position: absolute;
    height: 76px;
    width: 215px;
    /*padding-top: 2%;*/
    bottom: 7%;
    right: 5%;
  }


  .gallery-blue-link {
    /*background-image: url(https://intranet.libraries.ou.edu/docs/documents/link-blue.2569.png);*/
    /*background-repeat: no-repeat;*/
    /*background-position: right;*/
    position: absolute;
    height: 76px;
    width: 215px;
    /*padding-top: 2%;*/
    bottom: 7%;
    right: 5%;
  }

  .gallery-yellow-link a, .gallery-green-link a, .gallery-blue-link a {
    color: white;
    text-transform: uppercase;
    font-size: 1.3em;
    letter-spacing: 4px;
    font-weight: 900;
    text-decoration: none;
  }

div.gallery-green p::first-letter {
  /*font-size: 200%;*/
  color: #b0c1aa;
  font-family: "Times New Roman";
  float: left;
  font-size: 8em;
  line-height: 60px;
  padding-right: 6px;
  margin-top: -15px;
}

div.gallery-blue p::first-letter {
  /*font-size: 200%;*/
  color: #6792aa;
  font-family: "Times New Roman";
  float: left;
  font-size: 8em;
  line-height: 60px;
  padding-right: 6px;
  margin-top: -15px;
}

.gallery-yellow-container, .gallery-blue-container, .gallery-green-container {
  position: relative;
  color: white;
}


.gallery-image-deco {
  border: 11px solid white;
  stroke: black;
  stroke-width: 2px;
  box-shadow: 0 0 50px #cccccc;
  width: 100%;
  background-color: #160b01;
}

.gallery-image-deco-single {
  border: 11px solid white;
  stroke: black;
  stroke-width: 2px;
  box-shadow: 0 0 50px #a9b9a3;
  width: 100%;
  background-color: #a9b9a3;
}

.gallery-image-deco img {
  margin: auto;
}

.gallery-image-deco-single img {
  margin: auto;
}

/*.field-content.gallery-image-deco {*/
  /*background-color: #a9b9a3 ;*/
/*}*/

.container-quote {
  position: relative;
  color: white;
}

.quote-image {
  margin-left: 8%;
}

.quote-text {
  color:#ffffff;
  position:absolute;
  width:37%;
  line-height:33px;
  top: 60%;
  left: 62%;
  font-weight: 400;
  font-family: Arial;
  font-size:1em;
}

.gallery-name {
     position: absolute;
     bottom: 15%;
     Width: 84%;
     text-align: right;
     padding-left: 12px;
     padding-right: 0px;
   }

.gallery-name a {
     color: #ffffff;
     font-size: .9em;
     text-decoration: none;
   }

/*
 * Exhibit Items
 */

.exhibit-item-panel-image img{
  background-color: #a9b9a3;
}

.exhibit-meta-label {
  margin: 0 0 -6px 0;
  color: #a9b9a3;
  font-family: "Franklin Gothic Medium", "Franklin Gothic Medium";
  font-size: 22px;
}

.exhibit-meta-field {
  margin: 0 0 15px 0 !important;
  color: black !important;
  font-family: "Franklin Gothic Medium", "Franklin Gothic Medium";
  font-size: 25px;
}

.exhibit-meta-field a {
  color: black !important;
}

.exhibit-title {
  color: #001343;
  font-size: 33px;
  font-family: "Franklin Gothic Medium";
}

h3.field-content {
  font-size: 30px;
}

.diagonal-lines img{
  width: 33%;
  margin-bottom: 20px;
}

 /**
 * Navigation Bar
 */

.navbar{
	background-color: #fff;
	border-radius: 0;
	font-size: 1.4em;
	padding: 5px 10%;
}

ul.nav.navbar-nav.navbar-right {
  margin-right: -6%;
}

.row.content-border.text-block {
  width: 95%;
}

  @media (max-width: 1300px) {
    .navbar{
	font-size: 1.2em;
  }
  } 


  @media (max-width: 845px) {
    .navbar{
	font-size: 1.1em;
  }
  }

.panel-pane.pane-views.pane-banner-homepage {
  border: 11px solid white;
  stroke: black;
  stroke-width: 2px;
  box-shadow: 0 0 50px #cccccc
}

.full-width-renegades {
  background-color: #001343;
  width: 100%;
  margin-top: 60px;
  padding-bottom: 2%;
}

.div.full-width-renegades img:first-child {
  margin-left: 14%;
}

/*  
@media (min-width: 768px) and (max-width: 1300px) {
   .navbar-collapse.collapse {
       display: none !important;
   }
    .navbar-collapse.collapse.in {
        display: block !important;
    }
    .navbar-header .collapse, .navbar-toggle {
        display:block !important;
    }
	  .navbar-header {
        float:none;
    }
}
*/

.contact-icon {
  padding-top: 12%;
  width: 50px;
}

ol.breadcrumb {
  padding: 10px 0 10px 69px;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: white !important;
    font-family: "Libre Franklin";
    color: #001343;
    text-transform: uppercase;
    font-weight: 900;
  }

.navbar-default .navbar-nav>li>a {
  color: #00113f;
  border-bottom: 8px solid transparent;
  padding-top: 27px;
  font-family: "Libre Franklin";
  text-transform: uppercase;
  margin: 2px;
}
 
.navbar-default .navbar-nav>li>a:hover{
	color: #06131c;
	/*border-bottom: 8px solid #133f59;*/
	-webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}


.exhibit-logo {
	width: 75%;
	padding: 5px;
}

  @media (max-width: 1300px) {
    .exhibit-logo{
		width: 72%;
  }
  } 

  @media (max-width: 880px) {
    .exhibit-logo{
		width: 70%;
  }
  } 
  
 @media (max-width: 600px) {
    .exhibit-logo{
		width: 65%;
  }
  }
  
  
 /**
 * Global Footer
 */	
 
.footer{
    background-color: #333;
    color: #999;
    font-size: 1em;
	padding-left: 13%;
    padding-right: 13%;
    padding-top: 2%;
    padding-bottom: 2%;
    line-height: 1.2em;
	border-top: 7px solid #1f1f1f;
    width: 100%;
	margin-top:0;
}

.footer a{
    color: #ececec !important;
    text-decoration: none;
}

.footer a:hover{
    text-decoration: underline;
}

.footer ul{ 
	margin: 0; 
	padding: 0;
}

.footer li{
    list-style: none;
}

.footer img{
	float: left;
	padding-right: 1em;
}



 /**
 * Social Media Icons
 */	

.social ul{
    display: block;
}

.social ul li a.facebook,
.social ul li a.twitter,
.social ul li a.youtube,
.social ul li a.instagram{
    display: block; 
    height: 45px;
    width: 45px;
    float: left;
}

.social ul li a {
    /*background-image: url(../img/social-icons.png);*/
    background-repeat:no-repeat;
	line-height:0;
	margin-right:5px;
}

.social ul li a.facebook{ 
	background-position:0 0; 
}

.social ul li a.facebook:hover{ 
	background-position:-46px 0; 
}

.social ul li a.twitter{ 
	background-position:0 -46px; 
}

.social ul li a.twitter:hover{ 
	background-position:-46px -46px; 
}

.social ul li a.youtube{ 
	background-position: 0 -92px; 
}

.social ul li a.youtube:hover{ 
	background-position: -46px -92px; 
}

.social ul li a.instagram{ 
	background-position: 0 -276px; 
}

.social ul li a.instagram:hover{ 
	background-position: -46px -276px; 
}

.contact_icons{
	float: left;
}

.mc-field-group {
	padding:10px 0px 10px 0px;
	
}



/**
 * Paragraph Styling
 */
 
.paragraphs_image img{
	border: 1px solid #cecece;
	padding: 5px;
	margin-bottom: 15px;
	box-shadow: 1px 1px 2px #e3e3e3;
	background: #fff;
}

.paragraph_bundle_featured{
	border-bottom: 1px dashed #cecece;
	background-color: #f9f9f9;
	border-radius: 5px;
	padding: 15px 0 15px 0;
	margin-top: 15px;
	margin-bottom: 15px;
}

.paragraph_bundle_featured h2{
	font-family: 'Droid Sans';
	font-weight: bold;
	font-size: 1.25em;
}	

.paragraph_bundle_featured_alt{
	border-bottom: 1px dashed #cecece;
	padding: 15px 0 15px 0;
	margin-top: 15px;
	margin-bottom: 15px;
}

.paragraph_bundle_featured_alt h2{
	font-family: 'Droid Sans';
	font-weight: bold;
	font-size: 1.25em;
}

.paragraph_bundle_full_width{
	margin-top: 15px;
	margin-bottom: 15px;
}

.paragraph_bundle_full_image{
	margin-top: 15px;
	margin-bottom: 15px;
        text-align: center;
}

.paragraph_bundle_full_image_caption{
	font-size: .95em;
	text-align: center;
	margin-top: 15px;
	margin-bottom: 15px;
}

.paragraph_bundle_image_left{
	margin-top: 15px;
	margin-bottom: 15px;
}

.paragraph_bundle_image_right{
	margin-top: 15px;
	margin-bottom: 15px;
}

.paragraph_bundle_image_right img{
	margin: 15px 0 15px 0;
}

.paragraph_bundle_margin{
	margin-bottom: 15px;
}

.paragraphs_location_description{
	font-family: 'Droid Sans';
	font-size: 1.2em;
	font-weight: 300;
	color: #565656;
	margin-top: 15px;
	margin-bottom: 15px;
	border-right: 1px solid #cecece;
	border-left: 20px solid #660000;
	border-top: 1px solid #cecece;
        border-bottom: 1px solid #cecece;
	border-radius: 4px;
	background-color: #fff;
	padding: 25px;
	box-shadow: 1px 1px 2px #e3e3e3;
}
